.App {
  text-align: center;
  height: 100%;
  background: var(--main);
  min-height: 100vh;
}

.light {
    --main: #e6e7ee;
    --black: #ffffff;
    --white: #000000;
    --shadow1: #b8b9be;
    --shadow2: #ffffff;
    --toggle: #888484;
}

.dark {
  --main: #2E2C53;
  --black: #000000;
  --white: #ffffff;
  --shadow1: rgba(0, 0, 0, 0.5);
  --shadow2: rgba(165, 165, 165, 0.15);
  --toggle: #dbdbdb;
}

.round {
  border-radius: 5px;
  border: 0;
  padding: 5px;
}

.superScript {
  font-size: 0.5em;
}

/* .Circle:hover {
    box-shadow: inset 3px 3px 6px rgba(222, 222, 222, 0.15), 3px 3px 6px rgba(0, 0, 0, 0.5)
} */
