@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
  height: 100%;
}

body {
  background: var(--main);
}

button:focus {
  outline-style: solid;
  outline-color: var(--black);
}